<!DOCTYPE html>
{% extends "chat/base.html" %}
{% load static %}


{% load i18n %}

{% block css %}
<link rel="stylesheet" href="{%static 'css/allauth.css' %}">
{% endblock css %}


{% block content %}

<div class="allauth">

{% block little_header %}

    <p class="exit">{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
    </form>

{% endblock little_header%}
</div>

{% endblock %}
